@import 'styles';

//.c-add-set
@include component-block('add-set') {
  margin: 30px auto;

  //.c-add-set__form
  @include element('form') {

    //.c-add-set__form__group
    @include element('group') {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 10px;
      max-width: 460px;

      //.c-add-set__form__group__label
      @include element('label') {
        flex: 0 1 145px;
        font-weight: bold;
        line-height: 29px; // this matches the height of the form group container, makes the text vertically centered
      }

      //.c-add-set__form__group__input
      @include element('input') {
        flex: 1 1 auto;
        max-width: 260px;
        padding: 5px;
      }
    }

    //.c-add-set__form__submit-button
    @include element('submit-button') {

    }
  }

  //.c-add-set__confirmation
  @include element('confirmation') {


    //.c-add-set__confirmation__message
    @include element('message') {
      margin-bottom: 20px;
    }

    //.c-add-set__confirmation__details-group
    @include element('details-group') {
      margin-bottom: 20px;

      //.c-add-set__confirmation__details-group__field
      @include element('field') {
        font-weight: bold;
        margin-right: 10px;
      }

      //.c-add-set__confirmation__details-group__value
      @include element('value') {

      }
    }

    //.c-add-set__confirmation__button
    @include element('button') {

    }
  }
}
