$breakpoints: (
  'xs': 320px,
  'site-min': 375px,
  'sm': 600px,
  'md': 768px,
  'lg': 1025px,
  'xl': 1200px,
  'site-max': 1280px,
  'xxl': 1400px,
  'container-max': 1600px
);

@mixin mq($width, $type: min) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
