<!--
MUST RUN ON PORT 8081
 ng serve --port 8081 --open
-->

<div class="body">
  <div class="c-app__section__heading">
    <h1 class="c-app__header typography--header">MTG COLLECTOR</h1>
  </div>

  <div class="c-app__navigation">
    <ul class="c-app__navigation__list">

      <li class="c-app__navigation__list__item">
        <a class="c-app__navigation__link" href="/download-set-icons">Download Set Icons</a>
      </li>

      <li class="c-app__navigation__list__item">
        <a class="c-app__navigation__link" href="/card-search">Card Search</a>
      </li>

      <li class="c-app__navigation__list__item">
        <a class="c-app__navigation__link" href="/sets">List of Sets</a>
      </li>

      <li class="c-app__navigation__list__item">
        <a class="c-app__navigation__link" href="/add-set">Add a Set</a>
      </li>

      <li class="c-app__navigation__list__item">
        <a class="c-app__navigation__link" href="/build-set-table">Build Set Table</a>
      </li>

    </ul>
  </div>

  <!-- <app-card-search></app-card-search> -->
  <!-- <app-set-symbol-download></app-set-symbol-download> -->
  <router-outlet></router-outlet>
</div> <!-- /.body -->
