<div class="c-card-detail" *ngIf="card">
  <h2 class="c-card-detail__name-header">{{ card.name }}</h2>

  <div class="c-card-detail__set">
    <img class="c-card-detail__set__icon" [src]="card.set_icon"/>
    <span class="c-card-detail__set__name">{{ card.set_name }}</span>
  </div> <!-- /.c-card-detail__set -->

  <img class="c-card-detail__card-image" [src]="card.image_uri"/>

  <div class="c-card-detail__info-section__wrapper">
    <div class="c-card-detail__info-section__field c-card-detail__info-section__field--rarity">
      <span class="c-card-detail__info-section__field__label">Rarity:</span>
      <span class="c-card-detail__info-section____field__value">{{ card.rarity }}</span>
    </div> <!-- /.c-card-detail__info-section__field -->

    <div class="c-card-detail__info-section__field c-card-detail__info-section__field--type">
      <span class="c-card-detail__info-section__field__label">Type:</span>
      <span class="c-card-detail__info-section____field__value">{{ card.type }}</span>
    </div> <!-- /.c-card-detail__info-section__field -->

    <div class="c-card-detail__info-section__field c-card-detail__info-section__field--mana-cost">
      <span class="c-card-detail__info-section__field__label">Mana Cost:</span>
      <span class="c-card-detail__info-section____field__value">{{ card.mana_cost }}</span>
    </div> <!-- /.c-card-detail__info-section__field -->

    <div class="c-card-detail__info-section__field c-card-detail__info-section__field--oracle-text">
      <span class="c-card-detail__info-section__field__label c-card-detail__info-section__field__label--oracle-text">
        Oracle Text:</span>
      <span class="c-card-detail__info-section____field__value">{{ card.oracle_text }}</span>
    </div> <!-- /.c-card-detail__info-section__field -->

    <div class="c-card-detail__info-section__field c-card-detail__info-section__field--price">
      <span class="c-card-detail__info-section__field__label">Price:</span>
      <span class="c-card-detail__info-section____field__value">{{ card.price }}</span>
    </div> <!-- /.c-card-detail__info-section__field -->

    <!-- COLLECTION INFO SECTION
      # collected
      DROP DOWN MENU FOR TAGS ASSIGNED TO THIS CARD? CLICK THE ARROW TO REVEAL
      decks that have this card in it? -->

  </div> <!-- /.c-card-detail__info-section__wrapper -->
</div> <!-- /.c-card-detail -->
