<div class="c-card-search">
  <form class="c-card-search__search-bar__form">
    <!-- <input #searchBox id="search-box" class="c-card-search__search-bar__input"
      (input)="search(searchBox.value)" /> -->
      <input #searchBox id="search-box"
        class="c-card-search__search-bar__input"
        placeholder="Enter a card name..."
       />
      <button class="c-card-search__search-bar__button"
        type="submit"
        (click)="search(searchBox.value)">
            Search
      </button>
  </form> <!-- /.c-card-search__search-bar__form -->




  <div class="c-card-search__results" *ngIf="!detailOpen">

      <h3 class="c-card-search__results__list__header">{{ cards.length }} Results</h3> <!-- TODO: add or remove s based on 1 result or > 1 -->
      <ul class="c-card-search__results__list">
        <li class="c-card-search__results__list__card" *ngFor="let card of cards">
          <span class="c-card-search__results__list__card__name" (click)="selectCard(card)">{{ card.name }}</span>
          <div class="c-card-search__results__list__card__set">
            <!-- <img class="c-card-search__results__list__card__set__icon" [src]="card.set_icon"/>
            <span class="c-card-search__results__list__card__set__name">{{ card.set_name }}</span> -->
          </div> <!-- /.c-card-search__results__list__card__set -->
        </li>
      </ul>

  </div> <!-- /.c-card-serch__results -->

  <div class="c-card-search__detail" *ngIf="detailOpen">
    <div class="c-card-search__detail__back">
      <button class="c-card-search__detail__back__button" (click)="closeDetail()">
        <span class="icon icon-arrow-left"></span>
        <span class="c-card-search__detail__back__button__text">Back to Results</span>
      </button>
    </div> <!-- /.c-card-search__detail__back -->

    <app-card-detail [card]="selectedCard"></app-card-detail>

  </div> <!-- /.c-card-search__detail -->

</div> <!-- /.c-card-search -->
