<div class="c-card-search">
  <div class="c-card-search__search-bar__container">
    <!-- <input #searchBox id="search-box" class="c-card-search__search-bar__input"
      (input)="search(searchBox.value)" /> -->
      <input #searchBox id="search-box" class="c-card-search__search-bar__input" placeholder="Enter a card name..."/>
      <button class="c-card-search__search-bar__button" (click)="search(searchBox.value)">Search</button>
  </div> <!-- /.c-card-search__search-bar__container -->

  <div class="c-card-search__results">

    <div class="c-card-search__results__list-container" *ngIf="selectedCard === undefined">
      <h3 class="c-card-search__results__list__header">{{ cards$.length }} Results</h3> <!-- TODO: add or remove s based on 1 result or > 1 -->
      <ul class="c-card-search__results__list">
        <li class="c-card-search__results__list__card" *ngFor="let card of cards$">
          <span class="c-card-search__results__list__card__name" (click)="selectCard(card)">{{ card.name }}</span>
          <div class="c-card-search__results__list__card__set">
            <img class="c-card-search__results__list__card__set__icon" [src]="card.set_icon"/>
            <span class="c-card-search__results__list__card__set__name">{{ card.set_name }}</span>
          </div> <!-- /.c-card-search__results__list__card__set -->
        </li>
      </ul>
    </div> <!-- /.c-card-search__results__list-container -->

    <div class="c-card-search__results__detail-popout" *ngIf="selectedCard">
      <button class="c-card-search__results__detail-popout__back-button" (click)="closeDetail()">
        <span class="icon icon-arrow-left"></span>
        <span class="c-card-search__results__detail-popout__back-button__text">Back to Results</span>
      </button>
      <h2 class="c-card-search__results__detail-popout__header">{{ selectedCard.name }}</h2>
      <div class="c-card-search__results__detail-popout__set">
        <img class="c-card-search__results__detail-popout__set__icon" [src]="selectedCard.set_icon" />
        <span class="c-card-search__results__detail-popout__set__name">{{ selectedCard.set_name }}</span>
      </div> <!-- /.c-card-search__results__detail-popout__set -->

      <img class="c-card-search__results__detail-popout__card-image" [src]="selectedCard.image_uri"/>

      <div class="c-card-search__results__detail-popout__info">

      </div> <!-- /.c-card-search__results__detail-popout__info -->

    </div> <!-- /.c-card-search__results__detail-popout -->


    <!-- <app-card-detail [card]="cards$"></app-card-detail> -->
    <!-- <ul>
      <li *ngFor="let card of cards$">
        <img [src]="card.image_uri" />
        <b>ID:</b> {{ card.id }} <br/><br/>
        <b>NAME:</b> {{ card.name }} <br/><br/>
        <b>SET ID:</b> {{ card.set_id }} <br/><br/>
        <b>SET CODE:</b> {{ card.set_code }} <br/><br/>
        <b>SET NAME:</b> {{ card.set_name }} <br/><br/>
        <b>IS FOIL?:</b> {{ card.isFoil }} <br/><br/>
        <b>IMAGE URI:</b> {{ card.image_uri }} <br/><br/>
        <b>CMC:</b> {{ card.cmc }} <br/><br/>
        <b>COLORS:</b> {{ card.colors }} <br/><br/>
        <b>LAYOUT:</b> {{ card.layout }} <br/><br/>
        <b>MANA COST:</b> {{ card.mana_cost }} <br/><br/>
        <b>TYPE:</b> {{ card.type }} <br/><br/>
        <b>RARITY:</b> {{ card.rarity }} <br/><br/>
        <b>ORACLE TEXT:</b> {{ card.oracle_text }} <br/><br/>
        <b>PRICE:</b> {{ card.price }} <br/><br/>
        <b>PRICE DATE:</b> {{ card.price_date }} <br/><br/>
      </li>
    </ul> -->
  </div> <!-- /.c-card-serch__results -->
</div> <!-- /.c-card-search -->
