@import 'styles';

//.c-card-search
@include component-block('card-search') {
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
  width: 100%;

  //.c-card-search__search-bar
  @include element('search-bar') {
    //.c-card-search__search-bar__form
    @include element('form') {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
    }

    //.c-card-search__search-bar__input
    @include element('input') {
      flex: 3 1 auto;
      margin-right: 10px;
      max-width: 411px;
      padding: 5px;
    }

    //.c-card-search__search-bar__button
    @include element('button') {
      flex: 1 1 auto;
    }
  }

  //.c-card-search__detail
  @include element('detail') {

    //.c-card-search__detail__back
    @include element('back') {
      margin-top: 20px;

      //.c-card-search__detail__back__button
      @include element('button') {
        padding: 5px 10px;

        .icon {
          margin-right: 8px;
        }

        //.c-card-search__detail__back__button__text
        @include element('text') {
          bottom: 1px;
          position: relative;
        }
      }
    }

  }

  //.c-card-search__results
  @include element('results') {
    width: 100%;

    //.c-card-search__results__list
    // ul element
    @include element('list') {
      list-style-type: none;
      margin: 0;
      padding: 0;

      //.c-card-search__results__list__header
      @include element('header') {

      }

      //.c-card-search__results__list__card
      // li element
      @include element('card') {
        margin: 25px 0;

        //.c-card-search__results__list__card__name
        @include element('name') {
          display: block;
          font-weight: bold;
        }

        //.c-card-search__results__list__card__set
        @include element('set') {
          display: flex;
          flex-flow: row nowrap;
          height: 22px;
          justify-content: flex-start;
          margin-top: 5px;
          width: 100%;

          //.c-card-search__results__list__card__set__icon
          @include element('icon') {
            flex: 0 1 auto;
            margin-right: 7px;
            width: 28px;
          }

          //.c-card-search__results__card__set__name
          @include element('name') {
            bottom: -2px;
            flex: 0 1 auto;
            position: relative;
          }
        }

        //.c-card-search__results__list__card__collection-info
        @include element('collection-info') {
          display: flex;
          flex-flow: row nowrap;
          height: 22px;
          justify-content: flex-start;
          margin-top: 5px;
          width: 100%;

          //.c-card-search__results__list__card__collection-info__price
          @include element('price') {
            flex: 0 1 auto;
            margin-right: 10px;
            position: relative;
            top: 3px;
          }

          //.c-card-search__results__list__card__collection-info__add
          // button element
          @include element('add') {
            flex: 0 1 auto;

            .icon-plus {
              bottom: 3px;
              font-size: 11px;
              position: relative;
            }
          }
        }
      }

    }

  }
}
