@import 'styles';

@include component-block('set-symbol-search') {

  @include element('wrap') {
    margin-bottom: 30px;
  }

  @include element('input') {
    margin-right: 10px;
    padding: 5px;
  }

  @include element('button') {
    padding: 5px;

    @include element('get-sets') {
      display: block;
      margin-bottom: 10px;
    }
  }

  @include element('results') {
    margin-bottom: 30px;
  }

}

//.c-set-symbol-download
@include component-block('set-symbol-download') {

  //.c-set-symbol-download__button
  @include element('button') {
    padding: 5px;
  }

  //.c-set-symbol-download__form
  @include element('form') {

    //.c-set-symbol-download__form__group
    @include element('group') {
      display: inline-block;
      margin-right: 20px;
    }

    //.c-set-symbol-download__form__label
    @include element('label') {
      font-weight: bold;
      margin-right: 5px;
    }

    //.c-set-symbol-download__form__input
    @include element('input') {
      padding: 5px;
    }
  }

}
