@import 'styles';

//.c-set-symbol-download
@include component-block('set-symbol-download') {

  //.c-set-symbol-download__button
  @include element('button') {
    padding: 5px;
  }

  //.c-set-symbol-download__heading
  @include element('heading') {
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: underline;
  }

  //.c-set-symbol-download__section
  @include element('download-icons') {
    margin: 50px 0;
  }

  //.c-set-symbol-download__form
  @include element('form') {

    //.c-set-symbol-download__form__group
    @include element('group') {
      display: inline-block;
      margin-right: 20px;
    }

    //.c-set-symbol-download__form__label
    @include element('label') {
      font-weight: bold;
      margin-right: 5px;
    }

    //.c-set-symbol-download__form__input
    @include element('input') {
      margin-right: 10px;
      padding: 5px;
    }
  }

}
